VITE_CHAIN_ID=11155111
VITE_CHAIN_NAME=Sepolia
VITE_RPC_URL=https://rpc.sepolia.org
VITE_BLOCK_EXPLORER=https://sepolia.etherscan.io

VITE_USDT_ADDRESS=
VITE_STAKE_ECOSYSTEM_ADDRESS=
VITE_MARKETPLACE_ADDRESS=
